img {
    display: inline-block;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    height: 90%;
}
.tile {
    background-image: url("assets/tiles/mud.jpg");
    background-size: cover;
}
.row {
    height: 20%;
}
#battle-container {
    height: 80vh;
}