body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.completed-box {
    height: 10em;
    list-style: none;
    background-color: #ee6495;
    border-radius: 25px;
    color: white;
    padding-top: 1.5em;
}
.to-do-box {
    height: 10em;
    list-style: none;
    background-color: #6395ec;
    border-radius: 25px;
    color: white;
    padding-top: 1.5em;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#to-do-form button {
    padding-left: 50px;
    padding-right: 50px;
}