/* Battlefield  */
#play-screen {
    height: 100vh;
}
main {
    height: 90%;
}
.btn {
    font-size: 1em;
    text-align: center;
    font-family: 'Passion One', cursive;
    color: white;
}
.modal-footer button {
    border-radius: 5%;
    border-color: #480707;
    color: #480707;
    border-style: solid;
    border-width: 4px;
    font-size: 1em;
}
#battle-container {
    height: 70%;
    min-height: 350px;
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
#control-panel, #status-panel, #message-box {
    background-color: white;
    border-radius: 5%;
    border-color: #480707;
    color: #480707;
    border-style: solid;
    border-width: 4px;
    font-size: 1em;
}
#attack-buttons button, #ability-buttons button, #consumable-buttons button {
    color: #480707;
    font-family: 'Passion One', cursive;
}
.btn:hover {
    background-color: #B50000;
    border-top-style: solid;
    border-width: 2px;
    border-radius: 5%;
    border-color: #480707;
}
#inventory, #current-status-effect {
    list-style: none;
    display: inline;
}
#health-potions p{
    display: inline;
}
.sprite {
    height: 15vh;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
}
#log-quit {
    max-width: 50%;
}