/* Battlefield  */
.tile {
    /* background-image: url("../assets/tiles/mud.jpg"); */
    background-size: cover;
}
.battlefield-row {
    height: 20%;
}
#battle-container {
    height: 80vh;
    max-width: 1000px;
}
.enemy-health {
    color: red;
    font-weight: bold;
}
#control-panel, #status-panel, header, #message-box {
    background-color: white;
    border-radius: 5%;
    border-color: #480707;
    border-style: solid;
    border-width: 5px;
}
main {
    color: #480707;
    font-family: 'Passion One', cursive;
}
#attack-buttons button, #ability-buttons button, #consumable-buttons button {
    color: #480707;
    font-family: 'Passion One', cursive;
}
#attack-buttons button:hover, #ability-buttons button:hover, #consumable-buttons button:hover {
    background-color: #B50000;
    border-top-style: solid;
    border-width: 5px;
    border-radius: 5%;
    border-color: #480707;
}
#inventory, #current-status-effect {
    list-style: none;
    display: inline;
}
#health-potions {
    display: inline;
}
/* Custom animations */
@keyframes newBounceOutRight {
    20% {
      opacity: 1;
      transform: translate3d(-20px, 0, 0) scaleX(0.9);
    }
  
    to {
      opacity: 1;
      transform: translate3d(800px, 0, 0) scaleX(1.1);
    }
}
@keyframes newBounceOutLeft {
    20% {
      opacity: 1;
      transform: translate3d(20px, 0, 0) scaleX(0.9);
    }
  
    to {
      opacity: 1;
      transform: translate3d(-800px, 0, 0) scaleX(1.1);
    }
  }