.para-text {
    color: white;
    text-align: justify;
    font-size: 1.5em;
    padding: 0.5em;
}
.chapter-title {
    font-family: 'Passion One', cursive;
    font-size: 6em;
    color: #480707;
}
#para-container br {
    margin-top: 1em;
    margin-bottom: 1em;
}
#para-container-end {
    margin-top: 10%;
}