body {
    background-color: #080808;
    font-family: 'Passion One', cursive;
}
#title-screen-main {
    height: 100%;
}
#title {
    font-size: 6em;
    color: #480707;
}
.image-container {
    height: 60%;
    padding: 1em;
}
#image-container img {
    height: 100%;
}
#mute-button {
    height: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
#mute-button:hover {
    cursor: pointer;
}
#img-container {
    display: flex;
    justify-content: left;
}
.btn-group {
    font-family: 'Passion One', cursive;
    color: #480707;
}
#start-button {
    color: #480707;
    font-size: 2em;
}
#skip-button {
    color: #480707;
    font-size: 2em;
}
#continue-button {
    color: #480707;
    font-size: 2em;
}
#end-quit {
    color: #480707;
    font-size: 2em;
}