body {
    background-color: #080808;
}
#title-screen-main {
    height: 100%;
}
#title {
    font-family: 'Passion One', cursive;
    font-size: 6em;
    color: #480707;
}
#image-container {
    height: 50%;
    padding: 1em;
}
#image-container img {
    height: 100%;
}
#mute-button {
    height: 3em;
}
#mute-button:hover {
    cursor: pointer;
}
#img-container {
    display: flex;
    justify-content: left;
}
.btn-group {
    font-family: 'Passion One', cursive;
    color: #480707;
}
#start-button {
    color: #480707;
    font-size: 2em;
}